<br><br>

<h1>Lists</h1>

<ul>
  <% @lists.each do |list| %>
    <%= link_to list_path(list) do %>
      <li><%= list.name %></li>
    <% end %>
  <% end %>
</ul>

<%= link_to "Create a movie list", new_list_path %>
