<br><br>

<h1><%= @list.name %></h1>

<p><%= @bookmark.comment %><%= @bookmark.movie %></p>

<%= link_to "Delete #{@bookmark_id}",
            list_path(@list),
            method: :delete,
            data: { confirm: "Are you sure?" } %>
